set mailserver localhost
set mail-format {
    from: admin@{{ server_domain}}
    subject: BigMike - monit alert --  $EVENT $SERVICE
}
set alert {{ admin1_mail }} not on { instance, action }
set alert {{ admin2_mail }} not on { instance, action }

check file dead-mans-switch with path /.nonexistent
    alert {{ admin1_mail }} with reminder on 500 cycles
    alert {{ admin2_mail }} with reminder on 500 cycles

set httpd port 2812 and
    use address localhost
    allow localhost

check system localhost
    if loadavg (1min) > 4 then alert
    if loadavg (5min) > 2 then alert
    if memory usage > 75% then alert
    if swap usage > 25% then alert
    if cpu usage (user) > 70% then alert
    if cpu usage (system) > 30% then alert
    if cpu usage (wait) > 20% then alert

check process cron with pidfile /var/run/crond.pid
    start program = "/bin/systemctl start cron.service"
    stop program = "/bin/systemctl stop cron.service"

check process ntp with pidfile /var/run/ntpd.pid
    start program = "/bin/systemctl start ntd.service"
    stop program = "/bin/systemctl stop ntd.service"

check process pdns with pidfile /var/run/pdns.pid
    start program = "/bin/systemctl start pdns.service"
    stop program = "/bin/systemctl stop pdns.service"

check process proftpd with pidfile /var/run/proftpd.pid
    start program = "/bin/systemctl start proftpd.service"
    stop program = "/bin/systemctl stop proftpd.service"

check process syslogd with pidfile /var/run/rsyslogd.pid
    start program = "/bin/systemctl start rsyslog.service"
    stop program = "/bin/systemctl stop rsyslog.service"

check process spamassassin with pidfile /var/run/spamassassin.pid
    start program = "/bin/systemctl start spamassassin.service"
    stop program = "/bin/systemctl stop spamassassin.service"

check process sshd with pidfile /var/run/sshd.pid
    start program  "/bin/systemctl start sshd.service"
    stop program  "/bin/systemctl stop sshd.service"
    if failed port 22 protocol ssh then restart

check process mysql with pidfile /var/run/mysqld/mysqld.pid
    start program = "/bin/systemctl start mysql.service"
    stop program = "/bin/systemctl stop mysql.service"

check process nginx with pidfile /var/run/nginx.pid
    start program = "/bin/systemctl start nginx.service"
    stop program  = "/bin/systemctl stop nginx.service"

{% for php in php_versions %}
check process php-fpm-{{ php.version }} with pidfile /opt/phpfarm/inst/php-{{ php.version }}/var/run/php-fpm.pid
    start program = "/bin/systemctl start php-fpm-{{ php.version }}.service"
    stop program = "/bin/systemctl stop php-fpm-{{ php.version }}.service"
{% endfor %}