{% for php in php_versions %}

upstream php-{{ php.version }} {
    server unix:/var/run/php/php{{ php.version }}-fpm.sock;
}

{% if php.major_default|default(false) %}
upstream php-{{ php.major_default }} {
    server unix:/var/run/php/php{{ php.major_default }}-fpm.sock;
}
{% endif %}

{% endfor %}