server {
    server_name www.{{ server_domain }};
    return 301 $scheme://{{ server_domain }}$request_uri;
}

server {
    listen 80;
    server_name {{ server_domain }};
    return 301 https://$server_name$request_uri;
}

server {
    listen       443 ssl;
    server_name {{ server_domain }} www.{{ server_domain }};

    root   {{ main_vhost_htdocs }};

    include global/restrictions/global.conf;
    include global/ssl-params.conf;

    ssl_certificate /etc/letsencrypt/live/{{ server_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_domain }}/privkey.pem;

    access_log {{ main_vhost_logs }}/access.log vhosts;
    error_log {{ main_vhost_logs }}/error.log;

    location / {
        index index.html;
    }

    location /monit/ {
        include global/admin-only-access.conf;

        rewrite ^/monit/(.*) /$1 break;
        proxy_ignore_client_abort on;
        proxy_pass   http://127.0.0.1:2812;
        proxy_redirect  http://127.0.0.1:2812 /monit;
    }

    location ^~ /munin {
        include global/admin-only-access.conf;
        alias /var/cache/munin/www;
        index index.html;

        try_files $uri $uri/ =404;

        location /munin/static/ {
            alias /etc/munin/static/;
        }
    }

    location ^~ /php {
        include global/admin-only-access.conf;
        alias /var/www/bigmike.ovh/htdocs/php;
        index index.php;

        location ~* \.php$ {
            try_files $uri =404;
            fastcgi_pass unix:/var/run/php-fpm.sock;
            fastcgi_index index.php;
            fastcgi_split_path_info ^(.+\.php)(.*)$;
            include        fastcgi_params;
            fastcgi_param  SCRIPT_FILENAME  $request_filename;
        }

        location ~ /([0-9]+\.[0-9]+\.[0-9]+.*)$ {
            fastcgi_pass unix:/var/run/php/php$1-fpm.sock;
            fastcgi_param SCRIPT_FILENAME $document_root/index.php;
            include        fastcgi_params;
        }
    }

    location ^~ /postfixadmin {
        include global/admin-only-access.conf;
        alias /var/www/bigmike.ovh/htdocs/postfixadmin/public;
        index index.php;

        location ~* \.php$ {
            try_files $uri =404;
            fastcgi_pass unix:/var/run/php-fpm.sock;
            fastcgi_index index.php;
            fastcgi_split_path_info ^(.+\.php)(.*)$;
            include        fastcgi_params;
            fastcgi_param  SCRIPT_FILENAME  $request_filename;
        }
    }


    location ^~ /phpmyadmin {
        include global/admin-only-access.conf;
        alias /var/www/bigmike.ovh/htdocs/phpmyadmin;
        index index.php;

        location ~* \.php$ {
            try_files $uri =404;
            fastcgi_read_timeout 180;
            fastcgi_pass unix:/var/run/php-fpm.sock;
            fastcgi_index index.php;
            fastcgi_split_path_info ^(.+\.php)(.*)$;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $request_filename;
        }
    }

    location /rabbit/ {
        include global/admin-only-access.conf;

        rewrite ^/rabbit/(.*) /$1 break;
        proxy_ignore_client_abort on;
        proxy_pass   http://127.0.0.1:15672;
        proxy_redirect  http://127.0.0.1:15672 /rabbit;
    }
}
