server {
    server_name www.{{ server_domain }};
    return 301 $scheme://{{ server_domain }}$request_uri;
}

server {
    listen 80;
    server_name {{ server_domain }};
    return 301 https://$server_name$request_uri;
}

server {
    listen       443 ssl;
    server_name {{ server_domain }} www.{{ server_domain }};

    root   {{ main_vhost_htdocs }};

    include global/letsencrypt.conf;
    include global/restrictions/global.conf;
    include global/ssl-params.conf;

    ssl_certificate /etc/letsencrypt/live/{{ server_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_domain }}/privkey.pem;

    access_log {{ main_vhost_logs }}/access.log vhosts;
    error_log {{ main_vhost_logs }}/error.log;

    location / {
        index index.html;
    }

    # allow loading /index.php
    location /php {
        include global/admin-only-access.conf;

        index index.html;

        location /php/index.html { }

        {% for php in php_versions %}
        location = /php/{{ php.version }} {
            fastcgi_pass unix:/opt/phpfarm/inst/php-{{ php.version }}/var/run/php-fpm.sock;
            fastcgi_param  SCRIPT_FILENAME  {{ main_vhost_htdocs }}/php/info.php;
            include        fastcgi_params;
        }
        {% endfor %}
    }

    location /monit/ {
        include global/admin-only-access.conf;

        rewrite ^/monit/(.*) /$1 break;
        proxy_ignore_client_abort on;
        proxy_pass   http://127.0.0.1:2812;
        proxy_redirect  http://127.0.0.1:2812 /monit;
    }

    location /munin/static/ {
        alias /etc/munin/static/;
    }

    location ^~ /munin-cgi/munin-cgi-graph/ {
        access_log off;
        fastcgi_split_path_info ^(/munin-cgi/munin-cgi-graph)(.*);
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_pass unix:/var/run/munin/fcgi-graph.sock;
        include fastcgi_params;
    }

    location /munin/ {
        include global/admin-only-access.conf;

        proxy_pass http://localhost:4948/;
    }

    location ~ ^/(phpmyadmin|postfixadmin) {
        include global/admin-only-access.conf;

        index index.php;

        location ~ ^/(.+\.php)$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/opt/phpfarm/inst/php-{{ default_php }}/var/run/php-fpm.sock;
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
            include        fastcgi_params;
        }
    }
}
