error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT
display_errors = Off
display_startup_errors = Off
track_errors = Off
mysqlnd.collect_memory_statistics = Off
zend.assertions = -1
;opcache.huge_code_pages=1
upload_max_filesize=64M
expose_php=Off
date.timezone=Europe/Berlin