#!/bin/bash

TIMESTAMP=$(date +"%F")
BACKUP="/var/backups/mysql"
BACKUPDIR="$BACKUP/$TIMESTAMP"
MYSQL_USER="root"
MYSQL=/usr/bin/mysql
MYSQLDUMP=/usr/bin/mysqldump
AGE=7

mkdir -p "$BACKUPDIR"

if [ ! -d $BACKUPDIR ]; then
	echo "Backup destination folder: $BACKUPDIR does not exist." >&2
	exit 1
fi

if [ -z "`/usr/sbin/service mysql status | grep 'Active: active (running)'`" ] ; then
	echo "HALTED: MySQL does not appear to be running."  >&2
	exit 1
fi

if ! `echo 'exit' | $MYSQL -s --user=$MYSQL_USER` ; then
	echo "HALTED: Supplied mysql username or password appears to be incorrect (not copied here for security, see script)"  >&2
	exit 1
fi

databases=`$MYSQL --user=$MYSQL_USER -e "SHOW DATABASES;" | grep -Ev "(Database|information_schema|performance_schema)"`

for db in $databases; do
  $MYSQLDUMP  --defaults-extra-file=/etc/mysql/debian.cnf --single-transaction --quick --events $db | gzip > "$BACKUPDIR/$db.sql.gz"
  #$MYSQLDUMP --force --opt --events --ignore-table=mysql.event --user=$MYSQL_USER --databases $db | gzip > "$BACKUPDIR/$db.sql.gz"
done

tar -zcf $BACKUPDIR.tar.gz -C $BACKUP $TIMESTAMP

if test $? -eq 0
then
	# echo "Tar $TIMESTAMP.tar.gz created successfully."
	rm -rf $BACKUPDIR
else
	echo "Backup file not created." >&2
	exit 1
fi

# echo "Cleaning up old backups (older than $AGE days) and temporary files"
find $BACKUP -mindepth 1 -maxdepth 1 -ctime +$AGE -exec rm -rf {} \;

rsync --ignore-existing $BACKUPDIR.tar.gz -e "ssh -p 22222 -i ~/.ssh/backup.priv" backup@94.229.222.114:/var/backups/BigMike/mysql/

if test $? -eq 0
then
#	echo "$TIMESTAMP.tar.gz uploaded successfully."
	rm -rf $BACKUPDIR
else
	echo "Error uploading backup file." >&2
	exit 1
fi

exit 0
