user = {{ postfix_mysql_user }}
password = {{ postfix_mysql_pass }}
hosts = 127.0.0.1
dbname = {{ postfix_mysql_db }}
query = SELECT maildir FROM mailbox, alias_domain
  WHERE alias_domain.alias_domain = '%d'
  AND mailbox.username=concat('%u', '@', alias_domain.target_domain )
  AND mailbox.active = 1