[Unit]
Description=Munin FastCGI Graph
Documentation=man:spawn-fcgi

[Service]
Type=forking
PIDFile=/var/run/munin/fcgi-graph.pid
ExecStart=/usr/bin/spawn-fcgi -s /var/run/munin/fcgi-graph.sock -U www-data -u www-data -g www-data /usr/lib/munin/cgi/munin-cgi-graph -P /var/run/munin/fcgi-graph.pid

[Install]
WantedBy=multi-user.target